.btn-warning1 {
    color: #212529;
    background-color: #012ca1;
    border-color: #012ca1;
  }

  .btn-warning1:hover {
    color: #212529;
    background-color: #000000;
    border-color: #000000;
  }
  .btn-GetaQuote{
    color: #212529;
    background-color: #309c35;
    border-color: #309c35;
  }
  .btn-GetaQuote:hover {
    color: #212529;
    background-color: #012ca1;
    border-color: #012ca1;
  }

  .Eco{
      color:rgb(0,255,0);
      font-size: 30;
      
  }

  .Sky{

    color:rgb(0, 204, 255)
  }
  .btn-mystyle{
    display: inline-block;
    border-radius: 25px;
    background-color: #012ca1a8;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 300px;
    opacity: 1;
    transition: all 1.2s;
    cursor: pointer;
    margin: 5px;
    
  }
  .btn-mystyle :hover{
    opacity: 0.6;
    transition: all 1.2s;
  }

  .btn-mystyle1{
    display: inline-block;
    border-radius: 25px;
    background-color: #309c35;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 175px;
    opacity: 1;
    transition: all 1.2s;
    cursor: pointer;
    margin: 5px;
  }
  .btn-mystyle1 :hover{
    opacity: 0,6;
    transition: all 1.2s;
  }

 /* span = */
 p, pre, ul, ol, dl, dd, blockquote, address, table, fieldset, form {
  margin-bottom: 0px;
}
  
margin-bottom{

}

 