.btn-warning1 {
    color: #212529;
    background-color: #012ca1;
    border-color: #012ca1;
  }

  .btn-warning1:hover {
    color: #212529;
    background-color: #000000;
    border-color: #000000;
  }
  .btn-GetaQuote{
    color: #212529;
    background-color: #309c35;
    border-color: #309c35;
  }
  .btn-GetaQuote:hover {
    color: #212529;
    background-color: #012ca1;
    border-color: #012ca1;
  }

  .Eco{
      color:rgb(0,255,0)
  }

  .Sky{

    color:rgb(0, 204, 255)
  }
  .btn-mystyle{
    display: inline-block;
    border-radius: 25px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  .btn-mystyle span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    border-radius: 20%;
    transition: 0.5s;
  }
  .btn-mystyle span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .btn-mystyle:hover span{
    padding-right: 25px;
  }
  .btn-mystyle:hover span:after{
    opacity: 1;
    right: 0;
  }
 /* span = */
  
  

 